---
http_interactions:
- request:
    method: get
    uri: https://api.optify.net/v1/sites?access_token=wmjf73ott6f33unj2ztlttor
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><sites><site><name>NetVM
        (Germany)</name><site_token>4854OOO0</site_token><url>http://www.netvm.de</url></site><site><name>Marketing
        Dashboard</name><site_token>16U83LUW</site_token><url>http://www.networktechinc.com/</url></site><site><name>Netzwerk
        </name><site_token>RRPTZB0A</site_token><url>http://www.tecchannel.de/</url></site><site><name>SEO
        Dashboard</name><site_token>EYNN83MD</site_token><url>http://www.networktechinc.com/</url></site><site><name>Testing
        Site 101</name><site_token>XMAB8FMS</site_token><url>http://www.optify.net</url></site></sites>
  recorded_at: Fri, 06 Jul 2012 06:08:53 GMT
recorded_with: VCR 2.2.2
